@font-face {
    font-family: CenturyGothic667;
    src: url(fonts/CenturyGothic.ttf);  
}

@font-face {
    font-family: CenturyGothic667bold;
    src: url(fonts/CenturyGothic-Bold.ttf);  
}


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/*                                       HEADER                                             */

.header {
    font-family: "Nunito Sans", sans-serif;
    height: 80px;
    padding: 16px 0px;
    border: 1px solid rgba(193, 193, 193, 1);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 32px;
}

.container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
}

.header__nav a {
    color: rgba(0, 0, 0, 1);
}

.header__nav button {
    background-color: rgba(65, 130, 255, 1);
    color: rgba(255, 255, 255, 1);

    line-height: 16px;
    border-radius: 6px;
    padding: 12px 24px;
}



/*                                       MAIN                                             */


.block {
    margin-bottom: 45px;
}

.block__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}


.block1 {
    background-image: url('images/block_img1.png');
    position: relative;
    width: 600px;
    height: 424px;
    
}

.block1 h2 {
    position: absolute;
    left: 27px;
    bottom: 12px;

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255, 1);
    font-family: "CenturyGothic667bold";
}

.block2 {
    background-image: url('images/block_img2.png');
    width: 424px;
    height: 424px;
    font-family: ;
    position: relative;
}

.block2__inner {
    font-family: "Nunito", sans-serif;
    background-color: rgba(84, 120, 246, 0.55);

    position: absolute;
    left: 16px;
    bottom: 33px;

    display: flex;
    align-items: center;
    gap: 22px;
    padding: 25px 9px;
    border-radius: 12px;
    
}

.block2__inner h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
}

.block2__inner p {
    font-family: "CenturyGothic667bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;  
    color: rgba(233, 246, 84, 1);
}

.block__btn {
    font-family: "CenturyGothic667bold";
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    background-color: rgba(65, 130, 255, 1);
    border-radius: 60px;
    
}

.block.container {
    display: flex;
    flex-direction: column;
}


.about {
    margin-bottom: 36px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}

.img {
    background-image: url('images/oiu.png');
    background-size: 64px 27px;
    background-repeat: repeat-x;
    width: 832px; 
    
}

.line h3 {
    font-family: "CenturyGothic667bold";
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    
}

.about__desc {
    width: 885px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 42px;
}

.about__desc p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    align-items: center;
}

.about__desc p a {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: rgba(65, 130, 255, 1);
    align-items: center;
}

.about__title {
    font-family: "CenturyGothic667bold";
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 32px;
    text-align: center;
}
.about__items {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 16px;
}

.about__item {
    
    background-color: rgba(247, 248, 250, 1);
    border-radius: 12px;

    display: flex;
    flex-direction: column;


    align-items: center;    
    justify-content: center;

    width: 248px;
    height: 180px;
    
}




.about__item img {
    width: 47.64px;
    padding-top: 14px;

}

.about__item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-bottom: 20px;
}

.about__service {
    background-image: url('images/about1.png');
    width: 1040px;
    height: 180px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 50px;
}

.about__service-inner {
    position: absolute;
    left: 127px;
    bottom: 20px;
    background-color: rgba(65, 130, 255, 0.48);
    border-radius: 12px;
}

.about__service-inner h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    padding: 11px 85px;
}

.about__master {
    background-image: url('images/master-bgr.png');
    width: 1040px;
    height: 350px;
}

.about__master-inner {
    display: flex;
    position: relative;
}

.about__master-inner img {
    position: absolute;
    right: 641px;
    bottom: -349px;
}

.about__master-desc {
    color: rgba(255, 255, 255, 1);
    width: 558px;
    position: absolute;
    left: 440px;
    top: 66px;

}

.about__master-desc h2 {
    
    font-family: "CenturyGothic667bold";
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 18px;
}

.about__master-desc p {
    font-family: "Nunito Sans", sans-serif;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    margin-bottom: 18px;
}

.btn {
    color: rgba(65, 130, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    

    font-family: "Nunito Sans", sans-serif;

    padding: 12px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}





.catalog__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 42px;
}
.catalog__item {
    width: 248px;
    background-color: rgba(247, 248, 250, 1);
    border-radius: 12px;
    padding: 19px 22px;
}

.catalog__item div h1{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    
}
.catalog__item div img{
    width: 48px;
    height: 48px;
}
.catalog__item div {
    display: flex;
    gap:20px;
    
    margin-bottom: 20px;
}


.catalog__item p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 20px;
}

.catalog__item h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);
}

.catalog__item.blue {
    background-color: rgba(65, 130, 255, 1);
    color: rgba(255, 255, 255, 1);  
}

.catalog__item.blue div h1 {
    color: rgba(255, 255, 255, 1);    
}


.catalog__item.blue  p{
    color: rgba(255, 255, 255, 1);    
}



.services {

    background-color: rgba(65, 130, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 1040px;
    height: 262px;
    border-radius: 12px;
    padding: 42px 78px;

    margin-bottom: 42px;
}

.services h1 {
    font-family: "CenturyGothic667bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 25px;
}
.services p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
}


.bu {
    display: flex;
    flex-direction: column;
    gap:42px;
    margin-bottom: 42px;

}

.bu__card {
    display: flex;
    background-color: rgba(247, 248, 250, 1);
    border-radius: 16px;
    padding-left: 76px;
    padding-right: 89px;
    gap: 127px;
    align-items: center;
}

.bu__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 423px;
}

.bu__text h2 {
    font-family: "CenturyGothic667bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
}

.bu__text p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(61, 61, 61, 1);
}



.form {
    font-family: "CenturyGothic667bold", sans-serif;
    background-color: rgba(65, 130, 255, 1);
    border-radius: 16px;
    width: 1040px;
    height: 210px;
    text-align: center;
    padding: 37px 188px;
    margin-bottom: 48px;
}

.form h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

form input , button{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 200px;

    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(61, 61, 61, 1);

    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 24px;
}

form button {
    color: rgba(65, 130, 255, 1);
    padding: 19px 58px;
    font-weight: 700;
}
form {
    display: flex;
    justify-content: space-between;
}


.contacts .line {
    margin-bottom: 38px;
}

.contacts__inner {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    font-family: "Nunito", sans-serif;
}









/*                                              FOOTER                                      */


.footer {
    height: 150px;
    padding: 25px 0px;
    font-family: "Nunito Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: auto;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    gap: 78px;
}

.footer__nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}

.footer__block {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}